# Object files
*.o
*.ko
*.obj
*.elf

# Autotools

Makefile.in

/autom4te.cache
/build_aux
aclocal.m4
config.status
config.log
stamp-h1
.dirstamp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
configure
/test_int
/test_float
!test_int.c
!test_float.c

# Debug files
*.dSYM/


# other
**/.deps/*
#vtune output
r*hs 
# perf outputs
perf*
